PORT=8080
MONGO_URL=mongodb://localhost:27017
MONGO_DB_NAME=ecommerce
JWT_SECRET=cambia_esta_clave_en_produccion
BASE_URL=http://localhost:8080

# Mailing (opcional). Si no configurás esto, se usa Ethereal automáticamente.
MAIL_HOST=
MAIL_PORT=
MAIL_USER=
MAIL_PASS=
MAIL_FROM=no-reply@ecommerce.local

